body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 20px;
    row-gap: 20px;

    background-color: #FBF5E5;
}

/* User Input */
.title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: #343233;
}
.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
} 
.input p {
    align-items: flex-start;
    
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 21.73px;
    color: #343233;
}

.input .userInput .arrangeInput{
    display: flex;
    flex-direction: row;
}
.input .userInput .arrangeInput .buttonField {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

#userInput {
    border-radius: 79px;
    
    width: 407px;
    height: 53px;
    
    text-align: center;
    font-size: 21.73px;
    font-family: 'Roboto Condensed', sans-serif;

    background-color: #FBF5E5;
}
.input .userInput #submitButton {
    border-radius: 79px;
    
    width: 69px; 
    height: 28px;
    
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;

    background-color: #FBF5E5;
}
.input .userInput #reset {
    border-radius: 79px;
    
    width: 69px; 
    height: 28px;
    
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;

    background-color: #FBF5E5;
}
.input .userInput #submitButton:hover,
.input .userInput #reset:hover {
    background-color: #343233;
    color: #FBF5E5;
    cursor: pointer;
}

.displayUserInput .displayValue {
    color: #EE247E;
}


/* Simulation Design */
.test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px; 
    border: 5.62px solid #000;
    border-radius: 88.81px 0px 0px 88.81px;

    width: 1124px;
    height: 405px;

    background-color: #FBF5E5;
}

.green {
    background-color: #9BAD62;
    color: #343233;
}

.test .hour,
.test .minutes, 
.test .seconds {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px; 
    gap: 10px; 
    padding: 5px;
}
.test .state { 
    border-radius: 50%;

    width: 84.25px; 
    height: 84.25px;
 
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 57.73px;
    font-weight: bold;
    color: #343233;

    background-color: #F6D868;

    display: flex;
    align-items: center;
    justify-content: center;

    
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}

.test .line {
    width: 52.16px; 
    height: 3.21px; 

    background-color: black;
}
.line.green {
    background-color: #9BAD62; 
}

.line.wrong {
    background-color: #EE247E; 
}
    /*Final States*/
.test .hour #E,
.test .hour #D,
.test .minutes #F1,
.test .seconds #F2 { 
    border-radius: 50%;
    border: 3px solid #000;
    
    width: 84.25px; 
    height: 84.25px;
    
    font-family: 'Roboto Condensed', sans-serif;
}

    /*Labels*/
.test .hour .label,
.test .minutes .label,
.test .seconds .label {
    border-radius: 20px;

    width: 87px;
    height: 43px;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 21.73px;
    font-weight: bold;
    color: #fcfcfc;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #343233;

    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}

.fdescription {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    gap: 50px;
}
.fdescription .origin{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin: 0;
    padding: 0;
    line-height: 1.1;
    
    width: 300px;
    height: 215px;
    
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15.69px;
}
.fdescription .origin .emptyState,
.fdescription .origin .greenState,
.fdescription .origin .redState {
    margin: 0;
    padding: 0;
}

.fdescription .origin .emptyState p,
.fdescription .origin .greenState p,
.fdescription .origin .redState p {
    margin: 0;
    padding: 0;
    line-height: 1.0;
}
.fdescription .origin .originTitle,
.fdescription .origin .emptyState,
.fdescription .origin .greenState,
.fdescription .origin .redState,
.fdescription .origin .hoursState .hoursStateDescription p,
.fdescription .origin .minutesecondState .minutesSecondDescription p{
    text-align: center;
    font-style: italic;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15.69px;
    margin: 0;
    padding: 0;
    line-height: 1.1;
}
.fdescription .origin .emptyState,
.fdescription .origin .greenState,
.fdescription .origin .redState,
.fdescription .origin .hoursState,
.fdescription .origin .minutesecondState{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.fdescription .origin .emptyState .yellowState{
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background-color:#F6D868;

    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}
.fdescription .origin .greenState #GreenClass{
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background-color:#9BAD62;

    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}
.fdescription .origin .redState #RedClass{
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background-color:#EE247E;

    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}

.fdescription .resultdisplay{
    display: flex;
    flex-direction: column;

}

.fdescription .resultDescription {
    display: flex;
    flex-direction: column;
    
}
.fdescription .minutesecondState{
    gap: 5px;
}

.fdescription .hoursState #HoursClass{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 61.44px;
    width: 56px;
    height: 24.11px;
    background:#343233;

    font-family: "Roboto Condensed", sans-serif;
    font-size: 15.69px;
    font-size: 15.69px;
    font-style: bold;
    font-weight: 800;
    color: white;

    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}

.fdescription .minutesecondState #minutes,
.fdescription .minutesecondState #seconds{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 61.44px;
    width: 73px;
    height: 24px;
    background:#343233;

    font-family: "Roboto Condensed", sans-serif;
    font-size: 15.69px;
    font-style: bold;
    font-weight: 800;
    color: white;

    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}

.resultdisplay{
    display: flex;
    align-items: center;
    row-gap: 23px;;
}
.result {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 79px;
    border: 1px solid #000;

    width: 289px;
    height: 53px;

    text-align: center;
    font-size: 21.73px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;

    background-color: #FBF5E5;
}

.clocking {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 66.16px;
    width: 402px;
    height: 123.11px;
    text-align: center;
    background-color: rgb(3, 3, 3);

    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}

.clocking .binaryclock {
    font-family: 'Jersey 25', sans-serif;
    font-size: 92.13px;
    font-weight: bold;
    color: white;
}

.resultDescription {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 294px;
    height: 218px; 
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15.69px;
    font-style:italic;
    gap: 40px;
}


.fdescription .border1,
.fdescription .border2 {
    border: 3px solid #000;
    width: 0px;
    height: 216px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.boundary {
    border: 3px solid #000;
    width: 1201px;
    margin: 0 auto;
}

.information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 39px;
}
.information .definitionInfo .firstInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 328px;
    height: 295px;
}
.information .definitionInfo .firstInfo .definitionTitle p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #343233;
    margin: 0 auto;
}

.information .definitionInfo .firstInfo .definedNFA p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15.69px;
    font-style: italic;
    color: #343233;
}

.information .definitionInfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Roboto Condensed', sans-serif;
    gap: 8px;
}

.information .definitionInfo .secondInfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 328px;
    height: 265px;
}


.information .transitionTable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 835px;
    height: 590px;
    
    gap: 8px;
}
.information .transitionTable .row1,
.information .transitionTable .row2{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 27px;
}

.information .transitionTable .row1 .titlebox,
.information .transitionTable .row1 .table1,
.information .transitionTable .row2 .table2,
.information .transitionTable .row2 .table3{
    width: 344.97px;
    height: 274.01px
}

.information .transitionTable .row1 .titlebox{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 21.73px;
    font-weight: bold;
    color: #343233;
}

.transition {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.transition th {
    background-color: #F8CBAD;
    border: 1px solid #38576A;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

.transition td {
    border: 1px solid #38576A;
    padding: 0;
    margin: 0;
    width: 25%;
    height: calc(100% / 11); 
    text-align: center;
    vertical-align: middle;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

.transition td:first-child {
    background-color: #F3AF88; 
}

.nfaDiagram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    gap: 5px;
}
.nfaDiagram .diagram{
    width: 1198px;
    height: 233px;
    background-image: url('nfa_binary_clock.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}


