body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 20px;
    row-gap: 20px;

    background-color: #FBF5E5;
}

/* User Input */
.title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: #343233;
}
.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
} /*okay*/
.input p {
    align-items: flex-start;
    
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 21.73px;
    color: #343233;
}/*okay*/

.input .userInput .arrangeInput{
    display: flex;
    flex-direction: row;
}
.input .userInput .arrangeInput .buttonField {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

#userInput {
    border-radius: 79px;
    
    width: 407px;
    height: 53px;
    
    text-align: center;
    font-size: 21.73px;
    font-family: 'Roboto Condensed', sans-serif;

    background-color: #FBF5E5;
}
.input .userInput #submitButton {
    border-radius: 79px;
    
    width: 69px; 
    height: 28px;
    
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;

    background-color: #FBF5E5;
}
.input .userInput #reset {
    border-radius: 79px;
    
    width: 69px; 
    height: 28px;
    
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;

    background-color: #FBF5E5;
}
.input .userInput #submitButton:hover,
.input .userInput #reset:hover {
    background-color: #343233;
    color: #FBF5E5;
    cursor: pointer;
}

.displayUserInput .displayValue {
    color: #EE247E;
}


/* Simulation Design */
.test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px; 
    border: 5.62px solid #000;
    border-radius: 88.81px 0px 0px 88.81px;

    width: 1124px;
    height: 405px;

    background-color: #FBF5E5;
}

.green {
    background-color: #9BAD62;
    color: #343233;
}

.test .hour,
.test .minutes, 
.test .seconds {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px; 
    gap: 10px; 
    padding: 5px;
}
.test .state { 
    border-radius: 50%;

    width: 84.25px; 
    height: 84.25px;
 
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 57.73px;
    font-weight: bold;
    color: #343233;

    background-color: #F6D868;

    display: flex;
    align-items: center;
    justify-content: center;
}

.test .hour .line,
.test .minutes .line,
.test .seconds .line {
    width: 52.16px; 
    height: 3.21px; 

    background-color: black;
}
    /*Final States*/
.test .hour #E,
.test .hour #D,
.test .minutes #F1,
.test .seconds #F2 { 
    border-radius: 50%;
    border: 3px solid #000;
    
    width: 84.25px; 
    height: 84.25px;
    
    font-family: 'Roboto Condensed', sans-serif;
}

    /*Labels*/
.test .hour .label,
.test .minutes .label,
.test .seconds .label {
    border-radius: 20px;

    width: 87px;
    height: 43px;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 21.73px;
    font-weight: bold;
    color: #fcfcfc;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #343233;
}

.fdescription {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    gap: 50px;
}
.fdescription .origin{
    display: flex;
    flex-direction: column;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15.69px;
    /* the gap between lines*/
    row-gap: 5px;
    margin: 0;
    padding: 0;
    line-height: 1.1;
    width: 300px;
    height: 215px;
}
.fdescription .origin .emptyState,
.fdescription .origin .greenState,
.fdescription .origin .redState {
    margin: 0;
    padding: 0;
}

.fdescription .origin .emptyState p,
.fdescription .origin .greenState p,
.fdescription .origin .redState p {
    margin: 0;
    padding: 0;
    line-height: 1.0;
}
.fdescription .origin .originTitle,
.fdescription .origin .emptyState,
.fdescription .origin .greenState,
.fdescription .origin .redState,
.fdescription .origin .hoursState .hoursStateDescription p,
.fdescription .origin .minutesecondState .minutesSecondDescription p{
    text-align: center;
    font-style: italic;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15.69px;
    margin: 0;
    padding: 0;
    line-height: 1.1;
}
.fdescription .origin .emptyState,
.fdescription .origin .greenState,
.fdescription .origin .redState,
.fdescription .origin .hoursState,
.fdescription .origin .minutesecondState{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.fdescription .origin .emptyState .yellowState{
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background-color:#F6D868;
}
.fdescription .origin .greenState #GreenClass{
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background-color:#9BAD62;
}
.fdescription .origin .redState #RedClass{
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background-color:#EE247E;
}

.fdescription .resultdisplay{
    display: flex;
    flex-direction: column;

}

.fdescription .resultDescription {
    display: flex;
    flex-direction: column;
    
}
.fdescription .minutesecondState{
    gap: 5px;
}

.fdescription .hoursState #HoursClass{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 61.44px;
    width: 56px;
    height: 24.11px;
    background:#343233;

    font-family: "Roboto Condensed", sans-serif;
    font-size: 15.69px;
    font-size: 15.69px;
    font-style: bold;
    font-weight: 800;
    color: white;
}

.fdescription .minutesecondState #minutes,
.fdescription .minutesecondState #seconds{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 61.44px;
    width: 73px;
    height: 24px;
    background:#343233;

    font-family: "Roboto Condensed", sans-serif;
    font-size: 15.69px;
    font-style: bold;
    font-weight: 800;
    color: white;
}

.resultdisplay{
    display: flex;
    align-items: center;
    row-gap: 23px;;
}
.result {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 79px;
    border: 1px solid #000;

    width: 289px;
    height: 53px;

    text-align: center;
    font-size: 21.73px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;

    background-color: #FBF5E5;
}

.clocking {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 66.16px;
    width: 402px;
    height: 123.11px;
    text-align: center;
    background-color: rgb(3, 3, 3);
}

.clocking .binaryclock {
    font-family: 'Jersey 25', sans-serif;
    font-size: 92.13px;
    font-weight: bold;
    color: white;
}

.resultDescription {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 294px;
    height: 218px; 
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15.69px;
    font-style:italic;
    gap: 40px;
}

/*how to make a border with width being 216px and the weight being 3px*/
.fdescription .border1,
.fdescription .border2 {
    border: 3px solid #000;
    width: 0px;
    height: 216px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
